.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ButurabApp {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ButurabAppHeader {
  position: absolute;
  /* top: 0;  */
  /* margin-bottom: 220px; */
  background-color: "#F4FBFF";
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  width: "100%";
  z-index: "999";
}
.ButurabAppBody {
  /* margin-top: auto; */
  background: linear-gradient(
    90deg,
    rgb(219, 243, 255) 0%,
    rgb(160, 217, 255) 100%
  );
  min-height: 80vmin;
  /* padding: 20; */
  border: "1.5px solid gray";
  margin-bottom: 50;
  padding-top: 120px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.ButurabAppFooter {
  /* background: linear-gradient(90deg, white 0%, rgba(138, 239, 255, 1) 100%); */
  background-color: #0f0f0f;
  margin-top: 50;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.buturab-brand-name {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  font-weight: bold;
}
.buturab-page-name {
  margin: 20;
  margin-bottom: 30;
  font-family: "Times New Roman";
}
.textAlignCenter {
  text-align: center;
}
.textAlignJustify {
  text-align: justify;
}
.buturab-name-heading {
  color: white;
  text-align: right;
  /* top: auto; */
  margin: auto;
  padding-top: 155px;
}
.carousal-panel {
  background-color: "black";
}
.carousal-background {
  font-size: 40px;
  color: white;
}
.header {
  font-size: 40px;
  margin-top: 150px;
  color: yellow;
  height: fit-content;
  text-shadow: 0 0 25px white;
}

.roundedButton {
  border-radius: 30px !important;
  text-decoration: inherit;
}
.vl {
  border-left: 3px solid brown;
  height: 500px;
}
@font-face {
  font-family: "AlQalamTajNastaleeq";
  src: url("resources/fonts/AlQalam\ Taj\ Nastaleeq\ Regular.ttf");
}

.urdu-header-center {
  font-family: "AlQalamTajNastaleeq";
  font-size: 30pt;
}
.urdu-para-center {
  font-family: "AlQalamTajNastaleeq";
  font-size: 20pt;
}

.urdu-header-right {
  font-family: "AlQalamTajNastaleeq";
  font-size: 30pt;
  text-align: right;
}

.urdu-para-right {
  font-family: "AlQalamTajNastaleeq";
  font-size: 20pt;
  text-align: right;
}

.panelSlider {
  position: relative;
  height: 100%;
  max-height: 753px;
  overflow: hidden;
  width: 100%;
}
.dataContainer {
  top: 0;
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 100%;
}

.imgBgFade {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  object-position: center;
}
.imgContainer::before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.196);
}

.sloganPanel {
  margin-top: 4rem;
  background-color: #026c96;
  min-height: 10rem;
  padding: 3rem;

  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.welcomeStatement {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.findTutorHomeHeading {
  margin-top: 3rem;
  background-color: white;
  padding: 1rem;
  border-radius: 2rem;
}
.findTutorHomePara {
  text-align: justify;
}
.FAQs-accordion-panel {
  /* padding-top: 2rem; */
  /* border-radius: 1rem; */
}
.FAQs-accordion {
  border-radius: 1rem;
}
.FAQs-accordion-header {
  color: black;
}
.FAQs-accordion-header li {
  /* margin-left: 1rem; */
  padding-left: 0.5rem;
}
.FAQs-accordion-body {
  background-color: rgb(185, 230, 255);
}
/* About Statement CSS */
.aboutStatement {
  margin: auto;
  padding: 30px;
  text-align: justify;
  line-height: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.aboutStatement h2 {
  text-transform: uppercase;
}

/* Home Cards CSS */
.grid-cards {
  padding-top: 50px;
  padding-bottom: 50px;
}
.cards {
  min-height: 300px;
}
.card {
  align-items: center;
  height: 350;
  width: 260;
  /* background-color: #6cbabd; */
  /* color: "white"; */
  padding-top: 30;
}
.card img {
  height: 250px;
  width: 260px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.card:hover {
  transform: scale(1.009);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}
/* Home Cards Css Ends */

/* Footer CSS */

.ButurabAppFooter > * {
  flex: 1 100%;
}

.is-divider {
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 0.66em;
  height: 3px;
  display: block;
  margin: 1em 0;
  max-width: 60px;
  color: #f1f1f1;
  /* margin-left: 50%; */
}
.useful-links li {
  padding-top: 1rem;
}

.useful-links li a {
  color: aqua;
  /* background-color: #fafeff; */
  text-decoration: none;
  font-style: italic;
}
.useful-links li a:hover {
  background-color: lightcyan;
  color: black;
}
.backgroundFaded {
  opacity: 0.8;
}
.why-buturab-card {
  border-radius: 4rem;
}
.full-bleed {
  box-shadow: 0 0 0 100vmax #121212;
  clip-path: inset(0 -100vmax);
}
